{% extends "admin/base.html.twig" %}

{% block main %}

	{% for brand in brands %}

		<h2>
			<a href="{{ path("admin_brand_show", {'id' : brand.id } ) }}">
				{{ brand.name }}
			</a>
		</h2>

	{% endfor %}


{% endblock %}
