{% extends "front/base.html.twig" %}

{% block main %}


	{% for product in products %}
		<h2>
			<a href="{{ path("product_show", {'id' : product.id } ) }}">{{ product.name }}</a>
		</h2>
	{% endfor %}

{% endblock %}
